/* General Styles */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(270deg, #7575E0 21.87%, #5252B4 70.64%);
    color: #FFFFFF;
}

body p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #5252b4af;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

.nav-menu {
    display: flex;
    gap: 30px;
}

.nav-menu a {
    color: #FFFFFF;
    font-size: 16px;
}

.cta-buttons {
    display: flex;
    gap: 15px;
}

.btn {
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}

.btn.contact {
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    background-color: transparent;
}

.btn.login {
    background-color: #FFFFFF;
    color: #5C48E0;
}

/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    text-align: left;
}

.hero-container {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
}

.hero-card {
    background: transparent;
    flex: 1;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.hero-map {
    width: 100%;
    max-width: 100%;
}

.hero-map-image {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.hero-text {
    flex: 1;
    max-width: 500px;
    text-align: left;
}

.hero-text h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 61.04px;
    font-weight: 800;
    line-height: 67px;
    letter-spacing: 0.61px;
}

.hero-text p {
    font-size: 16px;
    margin-bottom: 20px;
}

.store-buttons {
    display: flex;
    gap: 15px;
}

.store-buttons img {
    width: 150px;
    height: auto;
    transition: transform 0.3s ease;
}

.store-buttons img:hover {
    transform: scale(1.05);
}

/* Features Section */
.features {
    background:
        linear-gradient(270deg, #7575E0 21.87%, #5252B4 70.64%) top left/100% 50% no-repeat,
        linear-gradient(270deg, #FFFFFF 21.87%, #E3E3FB 70.64%) bottom left/100% 50% no-repeat;
    padding: 60px 20px;
    display: flex;
    justify-content: center;
    position: relative;
}

.features-container {
    background-color: #F1F1FF;
    border-radius: 20px;
    padding: 40px 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 1;
}

.features-content h2 {
    color: #424A91;
    font-size: 28px;
    margin-bottom: 20px;
}

.features-content p {
    color: #666666;
    font-size: 16px;
    margin-bottom: 30px;
}

.features-content h3 {
    color: #424A91;
    font-size: 20px;
    margin-bottom: 20px;
}

.features-buttons {
    display: flex;
    max-width: 95%;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.btn-feature {
    background-color: #7575E0;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.btn-feature:hover {
    background-color: #5C48E0;
}

/* Features V2 Section */
.features-v2 {
    background: linear-gradient(270deg, #FFFFFF 21.87%, #E3E3FB 70.64%);
    padding: 60px 20px;
    display: flex;
    justify-content: center;
    position: relative;
}

.feature-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    width: 90%;
    max-width: 1200px;
}

.feature-container-v2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    width: 90%;
    max-width: 1200px;
}

.feature-card {
    flex: 1;
    max-width: 500px;
    background: transparent;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    box-sizing: border-box;
}

.feature-image {
    width: 100%;
    max-width: 100%;
}

.feature-image-img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.feature-text {
    max-width: 500px;
}

.feature-text h2 {
    font-size: 36px;
    color: #7F73FF;
    margin-bottom: 10px;
}

.feature-text p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #333333;
}

.feature-icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.feature-icon {
    display: flex;
    align-items: center;
    gap: 10px;
}

.feature-icon img {
    width: 40px;
    height: 40px;
}

.feature-icon p {
    font-size: 14px;
    color: #7F73FF;
    font-weight: bold;
}

/* Features V3 Section */
.features-v3 {
    background: linear-gradient(270deg, #7575E0 21.87%, #5252B4 70.64%);
    padding: 60px 20px;
    display: flex;
    justify-content: center;
    position: relative;
}

.feature-text-v3 {
    max-width: 500px;
}

.feature-text-v3 h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.feature-text-v3 p {
    font-size: 16px;
    margin-bottom: 20px;
}


.feature-icon-v3 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.feature-icon-v3 img {
    width: 40px;
    height: 40px;
}

.feature-icon-v3 p {
    font-size: 14px;
    color: #FFFFFF;
    font-weight: bold;
}

/* Footer */

.footer {
    background-color: #7575E0;
    color: white;
    padding: 40px 50px;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    flex-wrap: wrap;
}

.footer-logo {
    flex: 1;
    text-align: left;
}

.footer-logo img {
    width: 80px;
    margin-bottom: 10px;
}

.footer-logo p {
    font-size: 1.2em;
    font-weight: bold;
}

.footer-links {
    flex: 1;
    text-align: left;
    margin-top: 20px;
}

.footer-links h4 {
    font-size: 1em;
    margin-bottom: 10px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 5px;
}

.footer-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 0.9em;
}

.footer-social {
    margin-bottom: 20px;
}

.footer-social .social-icons {
    display: flex;
    gap: 15px;
}

.footer-social a {
    text-decoration: none;
    color: #7575E0;
    transition: .3s all ease;
}

.footer-social a:hover {
    color: rgba(47, 47, 47, 0.5);
}

.footer-social .custom-social li {
    margin: 2px;
    display: inline-block;
}

.footer-social .custom-social li a {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    display: inline-block;
    background: #FFFFFF;
    color: #7575E0;
    border-radius: 50%;
    transition: .3s all ease;
}

.footer-social .custom-social li a:hover {
    background: #6db5f4;
    color: #7575E0;
}

.footer-bottom {
    border-top: 2px solid #FFFFFF;
    padding-top: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: 16px;
}

.footer-bottom p {
    font-size: 0.8em;
    margin: 0;
    color: rgba(255, 255, 255);
}

.footer-bottom-links {
    display: flex;
    gap: 20px;
}

.footer-bottom-links a {
    font-size: 0.8em;
    color: rgba(255, 255, 255);
    text-decoration: none;
}

.footer-bottom-links a:hover {
    text-decoration: underline;
}

/* Contact */

.features-v4 {
    background: linear-gradient(270deg, #FFFFFF 21.87%, #E3E3FB 70.64%);
    padding: 150px 20px;
    display: flex;
    justify-content: center;
    position: relative;
}

.contact-container {
    flex-direction: row;
    display: flex;
    background-color: #7575E0;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    width: 100%;
    height: auto;
    align-items: center;
}

.contact-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-image img {
    width: 90%;
    height: auto;
    border-radius: 15px;
}

.contact-form {
    flex: 1;
    background-color: #7575E0;
    padding: 40px 30px;
    border-radius: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: left;
}

.contact-form h2 {
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
}

.contact-form p {
    font-size: 1.2em;
    margin-bottom: 20px;
    text-align: center;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
}

.contact-form textarea {
    height: 100px;
    resize: none;
    font-family: 'Poppins', sans-serif;
}

.contact-form button {
    padding: 10px 20px;
    background-color: #4EA5F1;
    border: none;
    color: white;
    font-size: 1.2em;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Poppins', sans-serif;
}

.contact-form button:hover {
    background-color: #3A92DB;
}

/* Responsividad */
@media (max-width: 1024px) {
    .hero-text h1 {
        font-size: 36px;
        font-weight: 700; /* Peso menor para pantallas medianas */
        line-height: 42px; /* Ajuste del espaciado vertical */
        letter-spacing: 0.5px;

    }

    .contact-container {
        flex-direction: column;
        border-radius: 15px;
    }

    .contact-image {
        padding-top: 20px;
        height: 300px;
        border-radius: 15px 15px 0 0;
    }

    .contact-form {
        border-radius: 0 0 15px 15px;
        padding: 20px;
        text-align: center;
    }

    .contact-form h2 {
        font-size: 1.8em;
    }

    .contact-form p {
        font-size: 1em;
    }
}

@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        text-align: center;
    }

    .nav-menu {
        flex-direction: column;
        gap: 10px;
    }

    .hero-container {
        flex-direction: column;
        text-align: center;
    }

    .hero-card {
        width: 100%;
        margin-bottom: 20px;
    }

    .hero-text {
        max-width: 100%;
    }

    .hero-text h1 {
        font-size: 32px;
        font-weight: 600; /* Ajuste adicional del peso */
        line-height: 38px;
        letter-spacing: 0.4px;
    }

    .hero-text p {
        font-size: 14px;
    }

    .store-buttons img {
        width: 120px;
    }

    .features-v2 {
        padding: 20px;
    }

    .features-v4 {
        padding: 30px;
    }

    .contact-form {
        margin: 15px;
    }

    .contact-form h2 {
        font-size: 1.5em;
    }

    .contact-form p {
        font-size: 1em;
        margin-bottom: 15px;
    }

    .contact-form input,
    .contact-form textarea {
        font-size: 0.9em;
        padding: 8px;
    }

    .contact-form button {
        padding: 10px 15px;
        font-size: 1em;
    }

    .contact-image {
        padding-top: 20px;
        height: 250px;
    }

    .feature-container {
        flex-direction: column;
        align-items: center;
    }

    .feature-container-v2 {
        flex-direction: column-reverse;
        align-items: center;
    }

    .feature-card {
        width: 100%;
        text-align: center;
    }

    .feature-icons {
        grid-template-columns: 1fr;
    }

    .feature-text,
    .feature-image {
        max-width: 100%;
    }

    .feature-text h2 {
        font-size: 28px;
    }
}

@media (max-width: 480px) {
    .hero-text h1 {
        font-size: 28px;
        font-weight: 500; /* Peso aún más ligero para pantallas pequeñas */
        line-height: 34px;
        letter-spacing: 0.3px;
    }

    .store-buttons img {
        width: 100px;
    }

    .hero-container {
        flex-direction: column;
        align-items: center;
    }

    .feature-container {
        flex-direction: column;
        align-items: center;
    }

    .feature-container-v2 {
        flex-direction: column-reverse;
        align-items: center;
    }

    .contact-image img {
        padding-top: 20px;
        object-fit: cover;
        height: 200px;
    }

    .contact-form h2 {
        font-size: 1.2em;
    }

    .contact-form p {
        font-size: 0.9em;
    }

    .contact-form input,
    .contact-form textarea {
        font-size: 0.8em;
        padding: 8px;
    }

    .contact-form button {
        padding: 10px;
        font-size: 0.9em;
    }
}

/* Responsive Styles for Features Section */
@media screen and (max-width: 768px) {
    .features-container {
        padding: 30px 20px;
    }

    .features-content h2 {
        font-size: 24px;
    }

    .features-content p {
        font-size: 14px;
    }

    .btn-feature {
        width: 100%;
        margin-bottom: 10px;
    }

    .features-buttons {
        flex-direction: column;
    }

    .features-content h2 {
        font-size: 20px;
    }

    .features-content p {
        font-size: 13px;
    }
}