/* General Styles */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(270deg, #7575E0 21.87%, #5252B4 70.64%);
    color: #FFFFFF;
}

body p {
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #5252b4af; /* Fondo semitransparente */
    backdrop-filter: blur(10px); /* Aplica el desenfoque */
    -webkit-backdrop-filter: blur(10px); /* Soporte para Safari */
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease; /* Transiciones suaves */
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

.nav-menu {
    display: flex;
    gap: 30px;
}

.nav-menu a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
}

.cta-buttons {
    display: flex;
    gap: 15px;
}

.btn {
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}

.btn.contact {
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    background-color: transparent;
}

.btn.login {
    background-color: #FFFFFF;
    color: #5C48E0;
}

/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    text-align: left;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px; /* Added gap for better spacing */
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.hero-card {
    background: transparent;
    flex: 1;
    max-width: 500px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; /* Ensures padding is included in width calculations */
}

.hero-map {
    width: 100%; /* Ensures image does not exceed card width */
    max-width: 100%; /* Ensures image does not exceed card width */
}

.hero-map-image {
    width: 100%; /* Constrains the image within the card */
    height: auto;
    border-radius: 20px;
}

.hero-text {
    flex: 1;
    max-width: 500px;
    text-align: left;
}

.hero-text h1 {
    font-family: Poppins;
    font-size: 61.04px;
    font-style: normal;
    font-weight: 800;
    line-height: 67px; /* 109.764% */
    letter-spacing: 0.61px;
}

.hero-text p {
    font-size: 16px;
    margin-bottom: 20px;
}

.store-buttons {
    display: flex;
    gap: 15px;
}

.store-buttons img {
    width: 150px;
    height: auto;
    transition: transform 0.3s ease;
}

.store-buttons img:hover {
    transform: scale(1.05);
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        text-align: center;
    }

    .nav-menu {
        flex-direction: column;
        gap: 10px;
    }

    .hero-container {
        flex-direction: column;
        text-align: center;
    }

    .hero-card {
        width: 100%;
        margin-bottom: 20px;
    }

    .hero-text {
        max-width: 100%;
    }

    .hero-text h1 {
        font-size: 32px;
    }

    .hero-text p {
        font-size: 14px;
    }

    .store-buttons img {
        width: 120px;
    }
}

@media (max-width: 480px) {
    .hero-text h1 {
        font-size: 28px;
    }

    .store-buttons img {
        width: 100px;
    }

    .hero-container {
        flex-direction: column;
        align-items: center;
    }
}

/* Features Section */
.features {
    background: 
    linear-gradient(270deg, #7575E0 21.87%, #5252B4 70.64%) top left/100% 50% no-repeat, /* Gradiente púrpura en la mitad superior con un ángulo específico */
    linear-gradient(270deg, #FFFFFF 21.87%, #E3E3FB 70.64%) bottom left/100% 50% no-repeat; /* Gradiente blanquecino en la mitad inferior con el mismo ángulo */
    background-blend-mode: normal;
    padding: 60px 20px;
    display: flex;
    justify-content: center;
    position: relative; /* Necesario para el posicionamiento del contenedor */
}


.features-container {
    background-color: #F1F1FF;
    ; /* Fondo blanco para la tarjeta */
    border-radius: 20px; /* Esquinas redondeadas */
    padding: 40px 30px; /* Espaciado interno */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Sombra para el efecto de tarjeta */
    max-width: 900px; /* Ancho máximo para pantallas grandes */
    width: 100%; /* Ancho completo para pantallas más pequeñas */
    text-align: center; /* Texto centrado */
    position: relative; /* Asegura que se quede encima del fondo con gradiente */
    z-index: 1; /* Mantiene la tarjeta sobre los gradientes */
}

.features-content h2 {
    color: #424A91; /* Color para el título */
    font-size: 28px; /* Tamaño de fuente para el título */
    margin-bottom: 20px; /* Espaciado debajo del título */
}

.features-content p {
    color: #666666; /* Color para el párrafo */
    font-size: 16px; /* Tamaño de fuente para el párrafo */
    margin-bottom: 30px; /* Espaciado debajo del párrafo */
}

.features-content h3 {
    color: #424A91; /* Color para el subtítulo */
    font-size: 20px; /* Tamaño de fuente para el subtítulo */
    margin-bottom: 20px; /* Espaciado debajo del subtítulo */
}

.features-buttons {
    display: flex;
    max-width: 95%;
    justify-content: center;
    gap: 20px; /* Espaciado entre botones */
    flex-wrap: wrap; /* Permite que los botones se ajusten en pantallas más pequeñas */
}

.btn-feature {
    background-color: #7575E0; /* Color de fondo del botón */
    color: #FFFFFF; /* Color de texto del botón */
    padding: 10px 20px; /* Espaciado interno del botón */
    border-radius: 30px; /* Esquinas redondeadas del botón */
    text-decoration: none; /* Sin subrayado en los enlaces */
    font-weight: 600; /* Peso de fuente seminegrita */
    transition: background-color 0.3s ease; /* Transición suave para hover */
}

.btn-feature:hover {
    background-color: #5C48E0; /* Color de fondo del botón al hacer hover */
}

/* Responsive Styles for Features Section */
@media screen and (max-width: 768px) {
    .features-container {
        padding: 30px 20px; /* Espaciado reducido para pantallas más pequeñas */
    }

    .features-content h2 {
        font-size: 24px; /* Tamaño de fuente más pequeño para el título */
    }

    .features-content p {
        font-size: 14px; /* Tamaño de fuente más pequeño para el párrafo */
    }

    .btn-feature {
        width: 100%; /* Botones de ancho completo en pantallas más pequeñas */
        margin-bottom: 10px; /* Espaciado debajo de cada botón */
    }

    .features-buttons {
        flex-direction: column; /* Botones apilados verticalmente */
    }
}

@media screen and (max-width: 480px) {
    .features-content h2 {
        font-size: 20px; /* Tamaño de fuente más pequeño para pantallas muy pequeñas */
    }

    .features-content p {
        font-size: 13px; /* Tamaño de fuente más pequeño para pantallas muy pequeñas */
    }
}


/* Features V2 Section */
.features-v2 {
    background: linear-gradient(270deg, #FFFFFF 21.87%, #E3E3FB  70.64%);
    background-blend-mode: overlay; /* Combina ambos gradientes */
    padding: 60px 20px;
    display: flex;
    justify-content: center;
    position: relative; /* Necesario para el posicionamiento del contenedor */
}

.feature-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px; /* Espacio entre las tarjetas */
    width: 90%;
    max-width: 1200px;
}

.feature-container-v2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px; /* Espacio entre las tarjetas */
    width: 90%;
    max-width: 1200px;
}

.feature-card {
    flex: 1;
    max-width: 500px;
    background: transparent;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    box-sizing: border-box;
}

.feature-image {
    width: 100%; /* Ensures image does not exceed card width */
    max-width: 100%; /* Ensures image does not exceed card width */
}

.feature-image-img {
    width: 100%; /* Constrains the image within the card */
    height: auto;
    border-radius: 20px;
}

.feature-text {
    max-width: 500px;
}

.feature-text h2 {
    font-size: 36px;
    color: #7F73FF;
    margin-bottom: 10px;
}

.feature-text p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #333333;
}

.feature-icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Define 2 columnas iguales */
    gap: 20px; /* Espacio entre los elementos */
}

.feature-icon {
    display: flex;
    align-items: center;
    gap: 10px;
}

.feature-icon img {
    width: 40px;
    height: 40px;
}

.feature-icon p {
    font-size: 14px;
    color: #7F73FF;
    font-weight: bold;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {


    .feature-container {
        flex-direction: column;
        align-items: center;
    }

    .feature-container-v2 {
        flex-direction: column-reverse; /* Invierte el orden de las cards */
        align-items: center;
    }

    .feature-card {
        width: 100%;
        text-align: center;
    }

    .feature-icons {
        grid-template-columns: 1fr; /* Cambia a una columna en pantallas pequeñas */
    }

    .feature-text, .feature-image {
        max-width: 100%;
    }

    .feature-text h2 {
        font-size: 28px;
    }


}

/* Features V3 Section */
.features-v3 {
    background: linear-gradient(270deg, #7575E0 21.87%, #5252B4 70.64%);
    background-blend-mode: overlay; /* Combina ambos gradientes */
    padding: 60px 20px;
    display: flex;
    justify-content: center;
    position: relative; /* Necesario para el posicionamiento del contenedor */
}

.feature-text-v3 {
    max-width: 500px;
}

.feature-text-v3 h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.feature-text-v3 p {
    font-size: 16px;
    margin-bottom: 20px;
}


.feature-icon-v3 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.feature-icon-v3 img {
    width: 40px;
    height: 40px;
}

.feature-icon-v3 p {
    font-size: 14px;
    color: #FFFFFF;
    font-weight: bold;
}


.footer {
    background-color: #7575E0; /* Color del fondo del footer */
    color: white;
    padding: 40px 50px;
    text-align: center;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    flex-wrap: wrap;
  }
  
  .footer-logo {
    flex: 1;
    text-align: left;
  }
  
  .footer-logo img {
    width: 80px; /* Ajusta el tamaño del logo */
    margin-bottom: 10px;
  }
  
  .footer-logo p {
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .footer-links {
    flex: 1;
    text-align: left;
    margin-top: 20px;
  }
  
  .footer-links h4 {
    font-size: 1em;
    margin-bottom: 10px;
  }
  
  .footer-links ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-links ul li {
    margin-bottom: 5px;
  }
  
  .footer-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 0.9em;
  }
  
  .footer-social {
    margin-bottom: 20px;
  }
  
  .footer-social .social-icons {
    display: flex;
    gap: 15px;
}
  
.footer-social a {
    text-decoration: none;
    color: #7575E0;
    transition: .3s all ease;
  }
  
.footer-social a:hover {
    color: rgba(47, 47, 47, 0.5);
}

.footer-social .custom-social li {
    margin: 2px;
    display: inline-block;
}

/* Estilos para los íconos de redes sociales */
.footer-social .custom-social li a {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    display: inline-block;
    background: #FFFFFF;
    color: #7575E0;
    border-radius: 50%;
    transition: .3s all ease;
}

/* Cambiar el color al hacer hover */
.footer-social .custom-social li a:hover {
    background: #6db5f4;
    color: #7575E0;
}
  
  .footer-bottom {
    border-top: 2px solid #FFFFFF;
    padding-top: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: 16px;
  }
  
  .footer-bottom p {
    font-size: 0.8em;
    margin: 0;
    color: rgba(255, 255, 255);
  }
  
  .footer-bottom-links {
    display: flex;
    gap: 20px;
  }
  
  .footer-bottom-links a {
    font-size: 0.8em;
    color: rgba(255, 255, 255);
    text-decoration: none;
  }
  
  .footer-bottom-links a:hover {
    text-decoration: underline;
  }

  /* contact */

  /* Features V2 Section */
    .features-v4 {
        background: linear-gradient(270deg, #FFFFFF 21.87%, #E3E3FB  70.64%);
        background-blend-mode: overlay; /* Combina ambos gradientes */
        padding: 150px 20px;
        display: flex;
        justify-content: center;
        position: relative; /* Necesario para el posicionamiento del contenedor */
    }

  .contact-container {
    flex-direction: row;
    display: flex;
    background-color: #7575E0;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    overflow: hidden;
    width: 100%;
    height: auto;
    align-items: center; /* Centra verticalmente el contenido */
}
  
.contact-image {
    flex: 1;
    display: flex; /* Añadido para centrar la imagen */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

.contact-image img {
    width: 90%; /* Ajusta el tamaño de la imagen */
    height: auto;
    border-radius: 15px;
}

.contact-form {
    flex: 1;
    background-color: #7575E0;
    padding: 40px 30px;
    border-radius: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: left; /* Cambia el texto a alineación a la izquierda */
}

.contact-form h2 {
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center; /* Centra el título */
}

.contact-form p {
    font-size: 1.2em;
    margin-bottom: 20px;
    text-align: center; /* Centra el subtítulo */
}
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    font-family: Poppins;
  }
  
  .contact-form textarea {
    height: 100px;
    resize: none;
    font-family: Poppins;
  }
  
  .contact-form button {
    padding: 10px 20px;
    background-color: #4EA5F1;
    border: none;
    color: white;
    font-size: 1.2em;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: Poppins;
  }
  
  .contact-form button:hover {
    background-color: #3A92DB;
  }
  
  /* Responsividad */
  
  /* Para pantallas de tamaño medio como tablets */
  @media (max-width: 1024px) {
    .contact-container {
        flex-direction: column;
        border-radius: 15px;
    }

    .contact-image {
        padding-top: 20px;
        height: 300px;
        border-radius: 15px 15px 0 0;
    }

    .contact-form {
        border-radius: 0 0 15px 15px;
        padding: 20px;
        text-align: center; /* Centra el texto en pantallas más pequeñas */
    }

    .contact-form h2 {
        font-size: 1.8em;
    }

    .contact-form p {
        font-size: 1em;
    }
}
  
  /* Para pantallas móviles */
  @media (max-width: 768px) {
    .features-v2 {
      padding: 20px;
    }
  
    .features-v4 {
        padding: 30px;
      }
    .contact-form h2 {
      font-size: 1.5em;
    }
  
    .contact-form p {
      font-size: 1em;
      margin-bottom: 15px;
    }
  
    .contact-form input,
    .contact-form textarea {
      font-size: 0.9em;
      padding: 8px;
    }
  
    .contact-form button {
      padding: 10px 15px;
      font-size: 1em;
    }
  
    .contact-image {
      padding-top: 20px;
      height: 250px;
    }
  }
  
  /* Para pantallas muy pequeñas como teléfonos */
  @media (max-width: 480px) {
    .feature-container {
        flex-direction: column; /* Invierte el orden de las cards */
        align-items: center;
    }

    .feature-container-v2 {
        flex-direction: column-reverse; /* Invierte el orden de las cards */
        align-items: center;
    }

  
    .contact-image img {
      padding-top: 20px;
      object-fit: cover;
      height: 200px;
    }
  
    .contact-form h2 {
      font-size: 1.2em;
    }
  
    .contact-form p {
      font-size: 0.9em;
    }
  
    .contact-form input,
    .contact-form textarea {
      font-size: 0.8em;
      padding: 8px;
    }
  
    .contact-form button {
      padding: 10px;
      font-size: 0.9em;
    }
  }
  